<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="2000">
		<setting id="home" type="text" label="2001" default=""/>
		<setting id="zoom" type="slider" label="2009" default="14" range="0,1,18" option="int"/>
		<setting id="maptype" type="enum" label="2002" default="0" lvalues="2003|2004|2010"/>
		<setting id="api" type="enum" label="2005" default="0" lvalues="2006|2007"/>
		<!--setting id="apikey" type="text" label="2008" default="" enable="!eq(-1,0)"/-->
	</category>
	<category label="2100">
		<setting id="debug" type="bool" label="2101" default="false"/>
	</category>
</settings>
